<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Code Gerado</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="qr-container">
    <h2>QR Code Gerado</h2>
    <img src="<%= src %>" alt="QR Code">
    <a href="/admin">Voltar ao Painel Administrativo</a>
  </div>
</body>
</html>